<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="vcredist-all" />
  <package id="7zip" />
  <package id="DotNet4.5" />
  <package id="dotnet-6.0-desktopruntime" />
  <package id="dotnet-7.0-runtime" />
  <package id="dotnetfx" />
  <package id="Firefox" />
  <package id="GoogleChrome" />
  <package id="irfanview" />
  <package id="irfanviewplugins" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="path-copy-copy" />
  <package id="powershell-core" />
  <package id="totalcommander" />
  <package id="vlc" />
  <package id="windowsfirewallcontrol" />
  <package id="winrar" />
  <package id="shutup10" />
</packages>
