<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="vcredist-all" />
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="autohotkey.portable" />
  <package id="Boxstarter" />
  <package id="Boxstarter.Bootstrapper" />
  <package id="Boxstarter.Chocolatey" />
  <package id="Boxstarter.Common" />
  <package id="Boxstarter.HyperV" />
  <package id="Boxstarter.WinConfig" />
  <package id="calibre" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="coretemp" />
  <package id="cpu-z" />
  <package id="cpu-z.install" />
  <package id="crystaldiskinfo" />
  <package id="crystaldiskinfo.portable" />
  <package id="docker-desktop" />
  <package id="DotNet4.5" />
  <package id="dotnet-6.0-desktopruntime" />
  <package id="dotnet-7.0-runtime" />
  <package id="dotnetfx" />
  <package id="dupeguru" />
  <package id="Everything" />
  <package id="ffmpeg" />
  <package id="Firefox" />
  <package id="fontforge" />
  <package id="git" />
  <package id="git.install" />
  <package id="GoogleChrome" />
  <package id="handbrake" />
  <package id="handbrake.install" />
  <package id="hwmonitor" />
  <package id="io-unlocker" />
  <package id="irfanview" />
  <package id="irfanviewplugins" />
  <package id="jdownloader" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3063858" />
  <package id="KB3118401" />
  <package id="libreoffice-fresh" />
  <package id="makemkv" />
  <package id="mediainfo" />
  <package id="microsoft-windows-terminal" />
  <package id="mkvtoolnix" />
  <package id="mp3tag" />
  <package id="multipar" />
  <package id="multipar.install" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="path-copy-copy" />
  <package id="picard" />
  <package id="plex" />
  <package id="powershell-core" />
  <package id="putty" />
  <package id="putty.portable" />
  <package id="python310" />
  <package id="shell-x" />
  <package id="shutup10" />
  <package id="totalcommander" />
  <package id="transgui" />
  <package id="trillian" />
  <package id="vcredist140" />
  <package id="vcredist2008" />
  <package id="vcredist2010" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="virtualbox" />
  <package id="vlc" />
  <package id="vlc.install" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="windowsfirewallcontrol" />
  <package id="winrar" />
  <package id="winscp" />
  <package id="winscp.install" />
  <package id="wiztree" />
  <package id="yt-dlp" />
</packages>